.app {
  display: flex;
  flex: 1;
}
.container {
  display: flex;
  width: 750;
  align-items: center;
}
.top {
  background-color: #6767fa;
}
.bottom {
  background-color: black;
  padding-top: 50;
}
.gif {
  width: 157;
  height: 180;
}
.gif_container {
  height: 300;
  width: 750;
  display: flex;
  align-items: center;
  padding-top: 30;
  margin-top: 90;
}
.btn_container{
  padding-top: 30;
}
.btn {
  background-color: transparent;
  border: 1px solid #fff;
}

